@import '../../shared.less';

.MMCompare {
    height: 100vh;
    overflow: auto;
    .background-stripes();
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .4);

    &__primary {
        display: flex;
        justify-content: space-between;
        padding-right: 16px;
        background-color: @dark;

        .logo {
            background-color: @dark-darkest;
            letter-spacing: -.5px;
            display: flex;
            align-items: flex-start;
            color: @white;
            padding: 16px;
            font-size: 24px;
            line-height: 24px;
            font-weight: 500;
        }

        .logo-inner {
            display: flex;
            flex-wrap: wrap;

            > :last-child {
                color: @blue;
                font-weight: 700;
            }
        }
    }
}

.main {
    padding: 32px;
}

