.controls {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.controls__load-local > input[type=button] {
  margin-right: 32px;
}
.controls__load-url {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.controls__load-url > .input {
  flex-grow: 1;
  max-width: 300px;
}
