@import '../../shared.less';

@node-margin: 12px;

.result__category {
    padding-bottom: 8px;
    border-bottom: 1px solid @blue;
    margin: 40px 0 32px;
}

.result__group-title {
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 30px;
    color: @blue;
    font-weight: 400 !important;
}

.results__points-line-item {
    display: inline-bock;
    margin-left: 16px;
    color: #fff;
    font-weight: 300;
    font-style: italic;
}
.result__concepts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.result__linkages {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    align-items: flex-start;
}

.result__concept {
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    padding: 4px 8px;
    border-radius: 12px;
    margin-right: @node-margin;
    margin-bottom: @node-margin;
}

.result__linkage {
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    padding: 6px 8px;
    border-radius: 12px;
    margin-right: @node-margin;
    margin-bottom: @node-margin;
    display: flex;

    &-sign {
        display: flex;
        align-items: center;
        margin: -8px 8px;
        padding: 0 6px;
        background-color: rgba(0, 0, 0, .4);
        font-style: italic;

        > span {
            margin: 0 4px;
            display: inline-block;
        }
    }
}



