@import '../../shared.less';

.result-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.result-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .9;
}

.result-body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 64px 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}

.result-content {
    max-width: 760px;
    color: #fff;
    flex-grow: 1;
}

.result__concepts {
    display: flex;
    flex-wrap: wrap;
}

.result__concept {
    background-color: rgba(255, 255, 255, .15);
    color: #fff;
    padding: 4px 8px;
    border-radius: 12px;
    margin-right: 6px;
    margin-bottom: 6px;
}



