.btn {
  outline: none !important;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #CED0D6;
  border: none;
  cursor: pointer;
  transition: background-color 200ms ease, transform 200ms ease;
}
.btn:hover {
  background-color: #eaebed;
}
.btn:active {
  transform: translateY(1px) scale(0.98);
  transition-duration: 0ms;
  box-shadow: none;
}
.btn[disabled] {
  opacity: 0.5;
  transition: none !important;
  transform: none !important;
  cursor: not-allowed;
}
.btn-ghost {
  background-color: #222429;
  border: 1px solid #00C7FF;
  color: #00C7FF;
  font-weight: 500;
  transition: background-color 200ms ease, transform 200ms ease;
}
.btn-ghost:hover {
  background-color: #000000;
}
.input {
  margin-right: 8px;
  padding: 9px 11px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  color: #dedede;
  background-color: #000;
}
.input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #00C7FF;
}
body {
  margin: 0;
  font-family: 'Roboto', Helvetica Neue, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
